@import "bootstrap/less/bootstrap.less";

@import '/sites/all/themes/twitter_bootstrap/scripts/owl-carousel/assets/owl.carousel.css';

html,
body { 
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility; 
}

///////////////////////////////////////////////////////////////
//
// General scaffolding
//
///////////////////////////////////////////////////////////////

img {
	max-width: 100%;
	height: auto;
}